canvas {
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    margin: 10px;
}

.grid {
    height: 64px;
    width: 64px;
}

.container {
    border: 1px solid black;
    display: inline-block;
    height: 63px;
    width: 63px;
    overflow: hidden;
}

.controls {
    background-color: white;
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 20px;
}

.offPixel {
    width: 8px;
    height: 8px;

    background-color: black;
    border: 1px solid white;
    display: inline-block;
    margin: -1px;
    padding: 0;
}

.onPixel {
    width: 8px;
    height: 8px;

    background-color: white;
    border: 1px solid white;
    display: inline-block;
    margin: -1px;
    padding: 0;
}
