.mockupContainer {
    border: 1px solid black;
    display: inline-block;
    height: 39px;
    margin-left: 5px;  /* TODO: Find this exact number */
}

.mockup {
    border-top: 1px solid black;
    margin: 5px 0 0 0;
}

.grid {
    height: 40px;
    width: 40px;
}

.container {
    border: 1px solid black;
    display: inline-block;
    height: 39px;
    width: 39px;
    overflow: hidden;
}

.controls {
    background-color: white;
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 20px;
}

.offPixel {
    width: 5px;
    height: 5px;

    background-color: black;
    border: 1px solid white;
    display: inline-block;
    margin: -1px;
    padding: 0;
}

.onPixel {
    width: 5px;
    height: 5px;

    background-color: white;
    border: 1px solid white;
    display: inline-block;
    margin: -1px;
    padding: 0;
}
