canvas {
    border: 3px solid black;
}

.grid {
    height: 64px;
    width: 64px;
}

.container {
    border: 1px solid black;
    height: 63px;
    width: 63px;
    overflow: hidden;
}

.offPixel {
    width: 8px;
    height: 8px;

    background-color: black;
    border: 1px solid white;
    display: inline-block;
    margin: -1px;
    padding: 0;
}

.onPixel {
    width: 8px;
    height: 8px;

    background-color: white;
    border: 1px solid white;
    display: inline-block;
    margin: -1px;
    padding: 0;
}
